<footer class="footer">
  <div class="container">
    <div class="footer__top-container">
      <div class="footer__logo_container">
        <a href="./index.html" class="logo" rel="noopener noreferrer">
          <svg width="104" height="32">
            <use href="./img/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <p class="footer__text-rights">© Toglas 2021. All rights reserved.</p>
      </div>
      <ul class="footer__list_contacts">
        <li class="footer__item_contacts">
          <span>Contact email:</span>
          <a
            href="mailto:info@toglas.com"
            rel="noopener noreferrer"
            class="footer__item_contacts-link"
            >info@toglas.com</a
          >
        </li>
        <li class="footer__item_contacts">
          <span>Recruitment email:</span>
          <a
            href="mailto:careers@toglas.com"
            rel="noopener noreferrer"
            class="footer__item_contacts-link"
            >careers@toglas.com</a
          >
        </li>
      </ul>
    </div>
    <div class="footer__body_container">
      <div class="footer__company-services-container">
        <ul class="footer__list_company">
          <li class="footer__item_company">Company</li>
          <li class="footer__item_company">
            <a
              href="#about"
              class="footer__item_company-link"
              rel="noopener noreferrer"
              >About Us</a
            >
          </li>
          <li class="footer__item_company">
            <a
              href="#work"
              class="footer__item_company-link"
              rel="noopener noreferrer"
              >Our Work</a
            >
          </li>
          <li class="footer__item_company">
            <a
              href="#clients"
              class="footer__item_company-link"
              rel="noopener noreferrer"
              >Clients</a
            >
          </li>
          <li class="footer__item_company">
            <a
              href="#footer"
              class="footer__item_company-link"
              rel="noopener noreferrer"
              >Services</a
            >
          </li>
          <li class="footer__item_company">
            <a
              href="#clients"
              class="footer__item_company-link"
              rel="noopener noreferrer"
              >Careers</a
            >
          </li>
          <li class="footer__item_company">
            <a
              href="#contacts"
              class="footer__item_company-link"
              rel="noopener noreferrer"
              >Contact Us</a
            >
          </li>
        </ul>
        <ul class="footer__list_services">
          <li class="footer__item_services">Services</li>
          <li class="footer__item_services">
            <a
              href="#"
              class="footer__item_services-link"
              rel="noopener noreferrer"
              >Design</a
            >
          </li>
          <li class="footer__item_services">
            <a
              href="#"
              class="footer__item_services-link"
              rel="noopener noreferrer"
              >Illustrations</a
            >
          </li>
          <li class="footer__item_services">
            <a
              href="#"
              class="footer__item_services-link"
              rel="noopener noreferrer"
              >Branding</a
            >
          </li>
          <li class="footer__item_services">
            <a
              href="#"
              class="footer__item_services-link"
              rel="noopener noreferrer"
              >Development</a
            >
          </li>
          <li class="footer__item_services">
            <a
              href="#"
              class="footer__item_services-link"
              rel="noopener noreferrer"
              >Concept</a
            >
          </li>
        </ul>
      </div>
      <ul class="menu-social-list footer__list_social">
        <li class="menu-social-item footer__item_social">
          <a
            href="#"
            class="menu-social-link"
            rel="noopener noreferrer"
            target="_blank"
          >
            <svg class="menu-social-icon">
              <use href="./img/icons.svg#icon-dribble"></use>
            </svg>
            Dribbble
          </a>
        </li>
        <li class="menu-social-item footer__item_social">
          <a
            href="#"
            class="menu-social-link"
            rel="noopener noreferrer"
            target="_blank"
          >
            <svg class="menu-social-icon">
              <use href="./img/icons.svg#icon-behance"></use>
            </svg>
            Behance
          </a>
        </li>
        <li class="menu-social-item footer__item_social">
          <a
            href="#"
            class="menu-social-link"
            rel="noopener noreferrer"
            target="_blank"
          >
            <svg class="menu-social-icon">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
            Instagram
          </a>
        </li>
        <li class="menu-social-item footer__item_social">
          <a
            href="#"
            class="menu-social-link"
            rel="noopener noreferrer"
            target="_blank"
          >
            <svg class="menu-social-icon">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
            Faccebook
          </a>
        </li>
        <li class="menu-social-item footer__item_social">
          <a
            href="#"
            class="menu-social-link"
            rel="noopener noreferrer"
            target="_blank"
          >
            <svg class="menu-social-icon">
              <use href="./img/icons.svg#icon-clutch"></use>
            </svg>
            Clutch
          </a>
        </li>
      </ul>
    </div>
    <div class="footer__rate-container">
      <form action="#" class="footer__rate_form footer__form">
        <div class="footer__rating">
          <div class="footer__rating_items">
            <input
              type="radio"
              value="5"
              class="footer__rating_item"
              name="footer-rating"
              id="footer-rating__5"
            />
            <label for="footer-rating__5" class="footer__rating_label">
              <svg class="footer__rating_label-icon">
                <use href="./img/icons.svg#icon-rate"></use>
              </svg>
            </label>
            <input
              type="radio"
              value="4"
              class="footer__rating_item"
              name="footer-rating"
              id="footer-rating__4"
              checked
            />
            <label for="footer-rating__4" class="footer__rating_label">
              <svg class="footer__rating_label-icon">
                <use href="./img/icons.svg#icon-rate"></use>
              </svg>
            </label>
            <input
              type="radio"
              value="3"
              class="footer__rating_item"
              name="footer-rating"
              id="footer-rating__3"
            />
            <label for="footer-rating__3" class="footer__rating_label">
              <svg class="footer__rating_label-icon">
                <use href="./img/icons.svg#icon-rate"></use>
              </svg>
            </label>
            <input
              type="radio"
              value="2"
              class="footer__rating_item"
              name="footer-rating"
              id="footer-rating__2"
            />
            <label for="footer-rating__2" class="footer__rating_label">
              <svg class="footer__rating_label-icon">
                <use href="./img/icons.svg#icon-rate"></use>
              </svg>
            </label>
            <input
              type="radio"
              value="1"
              class="footer__rating_item"
              name="footer-rating"
              id="footer-rating__1"
            />
            <label for="footer-rating__1" class="footer__rating_label">
              <svg class="footer__rating_label-icon">
                <use href="./img/icons.svg#icon-rate"></use>
              </svg>
            </label>
          </div>
        </div>
      </form>
      <p class="footer__rate-text">
        Rated <span>4.9 / 5.0</span> By 25 Clients For Web Development, Mobile
        App and Design Services.
      </p>
      <ul class="menu-policy-list footer__rate-policy_list">
        <li class="menu-policy-item footer__rate-policy_item">
          <a href="#" class="policy-link" rel="noopener noreferrer"
            >Terms Of services</a
          >
        </li>
        <li class="menu-policy-item footer__rate-policy_item">
          <a href="#" class="policy-link" rel="noopener noreferrer"
            >Privacy Policy</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="footer__decor-circle-top"></div>
  <div class="footer__decor-circle-bottom"></div>
</footer>
