<header class="header">
  <div class="container header-container">
    <a href="./index.html" class="logo" rel="noopener noreferrer">
      <svg width="104" height="32">
        <use href="./img/icons.svg#icon-logo"></use>
      </svg>
    </a>
    <nav class="menu-nav_desktop">
      <ul class="menu-list_desktop">
        <li class="menu-item_desktop">
          <a href="#work" class="menu-link_desktop" rel="noopener noreferrer"
            >Our Work</a
          >
        </li>
        <li class="menu-item_desktop">
          <a href="#clients" class="menu-link_desktop" rel="noopener noreferrer"
            >Clients</a
          >
        </li>
        <li class="menu-item_desktop">
          <a href="#about" class="menu-link_desktop" rel="noopener noreferrer"
            >About Us</a
          >
        </li>
        <li class="menu-item_desktop">
          <a
            href="#contacts"
            class="menu-link_desktop"
            rel="noopener noreferrer"
            >Contact Us</a
          >
        </li>
      </ul>
    </nav>
    <div class="menu-container js-menu-container">
      <div class="menu-container__bg">
        <div class="menu-container__header">
          <a href="./index.html" class="logo" rel="noopener noreferrer">
            <svg width="104" height="32">
              <use href="./img/icons.svg#icon-logo"></use>
            </svg>
          </a>
          <button type="button" class="menu-btn js-close-menu">
            <svg width="32" height="32" class="menu-btn__icon">
              <use href="./img/icons.svg#icon-close"></use>
            </svg>
          </button>
        </div>
        <div class="menu-container__body">
          <nav class="menu-nav">
            <ul class="menu-list">
              <li class="menu-item">
                <a
                  href="#work"
                  class="menu-link"
                  data-link
                  rel="noopener noreferrer"
                  >Our Work</a
                >
              </li>
              <li class="menu-item">
                <a
                  href="#clients"
                  class="menu-link"
                  data-link
                  rel="noopener noreferrer"
                  >Clients</a
                >
              </li>
              <li class="menu-item">
                <a
                  href="#about"
                  class="menu-link"
                  data-link
                  rel="noopener noreferrer"
                  >About us</a
                >
              </li>
              <li class="menu-item">
                <a
                  href="#contacts"
                  class="menu-link"
                  data-link
                  rel="noopener noreferrer"
                  >Contacts</a
                >
              </li>
            </ul>
          </nav>
          <ul class="menu-policy-list">
            <li class="menu-policy-item">
              <a href="#" class="policy-link" rel="noopener noreferrer"
                >Terms Of services</a
              >
            </li>
            <li class="menu-policy-item">
              <a href="#" class="policy-link" rel="noopener noreferrer"
                >Privacy Policy</a
              >
            </li>
          </ul>
        </div>
        <div class="menu-container__footer">
          <ul class="menu-social-list">
            <li class="menu-social-item">
              <a
                href="#"
                class="menu-social-link"
                rel="noopener noreferrer"
                target="_blank"
              >
                <svg class="menu-social-icon">
                  <use href="./img/icons.svg#icon-dribble"></use>
                </svg>
                Dribbble
              </a>
            </li>
            <li class="menu-social-item">
              <a
                href="#"
                class="menu-social-link"
                rel="noopener noreferrer"
                target="_blank"
              >
                <svg class="menu-social-icon">
                  <use href="./img/icons.svg#icon-behance"></use>
                </svg>
                Behance
              </a>
            </li>
            <li class="menu-social-item">
              <a
                href="#"
                class="menu-social-link"
                rel="noopener noreferrer"
                target="_blank"
              >
                <svg class="menu-social-icon">
                  <use href="./img/icons.svg#icon-instagram"></use>
                </svg>
                Instagram
              </a>
            </li>
            <li class="menu-social-item">
              <a
                href="#"
                class="menu-social-link"
                rel="noopener noreferrer"
                target="_blank"
              >
                <svg class="menu-social-icon">
                  <use href="./img/icons.svg#icon-facebook"></use>
                </svg>
                Faccebook
              </a>
            </li>
            <li class="menu-social-item">
              <a
                href="#"
                class="menu-social-link"
                rel="noopener noreferrer"
                target="_blank"
              >
                <svg class="menu-social-icon">
                  <use href="./img/icons.svg#icon-clutch"></use>
                </svg>
                Clutch
              </a>
            </li>
          </ul>
          <ul class="menu-contacts-list">
            <li class="menu-contacts-item">
              <span class="menu-contacts-item__text">Contact email:</span>
              <a
                href="mailto:info@toglas.com"
                class="menu-contacts-item__link"
                rel="noopener noreferrer"
                target="_blank"
                >info@toglas.com</a
              >
            </li>
            <li class="menu-contacts-item">
              <span class="menu-contacts-item__text">Recruitment email:</span>
              <a
                href="mailto:careers@toglas.com"
                class="menu-contacts-item__link"
                rel="noopener noreferrer"
                target="_blank"
                >careers@toglas.com</a
              >
            </li>
          </ul>
          <div class="menu-container__footer_decor-circle-top"></div>
          <div class="menu-container__footer_decor-circle-bottom"></div>
        </div>
      </div>
    </div>
    <button type="button" class="menu-btn js-open-menu">
      <svg width="32" height="32" class="menu-btn__icon">
        <use href="./img/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>
