<main class="main">
  <section class="hero section" id="hero">
    <div class="container">
      <h2 class="visually-hidden">About our team</h2>
      <p class="hero-text">
        We are a team of
        <span class="hero-text__accent">professional designers</span> who are
        ready to help you develop products of any complexity. Our team is
        specialized in
        <span class="hero-text__accent">websites, applications</span> and
        <span class="hero-text__accent">branding.</span>
      </p>
      <button type="button" class="hero-btn">
        Start a Project
        <svg class="hero-btn__icon">
          <use href="./img/icons.svg#icon-dialog"></use>
        </svg>
      </button>
      <div class="animate-wrapper">
        <div class="container-animate">
          <div class="side">
            <div class="pole">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
            <div class="neon neon_a">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
          <div class="side">
            <div class="pole">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
            <div class="neon neon_b">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
          <div class="side">
            <div class="pole">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
            <div class="neon neon_c">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="visual-circle"></div>
    <div class="hero__visual-circle-right"></div>
  </section>
  <section class="video section" id="video">
    <div class="container">
      <h2 class="visually-hidden">Presentation video</h2>
      <img class="video__logo" src="./img/svg/video-logo.svg" alt="logo" />
      <div class="video__btn">
        <svg class="video__btn-icon">
          <use href="./img/icons.svg#icon-play"></use>
        </svg>
      </div>
    </div>
  </section>
  <section class="about section" id="about">
    <div class="container">
      <h2 class="visually-hidden">About Team</h2>
      <div class="about__wrapper">
        <p class="about__text">
          Our team builds relationships with customers through direct mergers
          with their products. Toglas employs world-class designers,
          illustrators and developers to help clients create products of any
          complexity.
        </p>
        <p class="about__text">
          <span>
            The goal we pursue in the future is to help the client create,
            improve and strengthen the connection with your clients.
          </span>
        </p>
        <h3 class="about__title">SERVICES</h3>
        <p class="about__text">
          Our team builds relationships with customers through direct mergers
          with their products. Toglas employs world-class designers,
          illustrators and developers to help clients create products of any
          complexity.
        </p>
        <p class="about__text">
          The goal we pursue in the future is to help the client create, improve
          and strengthen the connection with your clients.
        </p>
      </div>
      <ul class="about__cards">
        <li class="about__card about-card">
          <div class="about__title-icon_container">
            <div class="about-card__icon-container">
              <svg class="about-card__icon">
                <use href="./img/icons.svg#icon-design"></use>
              </svg>
            </div>
            <h4 class="about-card__title">DESIGN</h4>
          </div>
          <ul class="about-card__list">
            <li class="about-card__item">UX Design</li>
            <li class="about-card__item">UI Design</li>
            <li class="about-card__item">Illustrations</li>
            <li class="about-card__item">Motion Design</li>
            <li class="about-card__item">Name</li>
            <li class="about-card__item">Name</li>
          </ul>
          <div class="about__card_visual-circle-top"></div>
          <div class="about__card_visual-circle-bottom"></div>
        </li>
        <li class="about__card about-card">
          <div class="about-card__icon-container">
            <svg class="about-card__icon">
              <use href="./img/icons.svg#icon-code"></use>
            </svg>
          </div>
          <h4 class="about-card__title">Development</h4>
          <ul class="about-card__list">
            <li class="about-card__item">Website</li>
            <li class="about-card__item">Support</li>
            <li class="about-card__item">Illustrations</li>
            <li class="about-card__item">Front-end</li>
            <li class="about-card__item">Back-end</li>
            <li class="about-card__item">iOS</li>
          </ul>
          <div class="about__card_visual-circle-top"></div>
          <div class="about__card_visual-circle-bottom"></div>
        </li>
        <li class="about__card about-card">
          <div class="about-card__icon-container">
            <svg class="about-card__icon">
              <use href="./img/icons.svg#icon-brand"></use>
            </svg>
          </div>
          <h4 class="about-card__title">Branding</h4>
          <ul class="about-card__list">
            <li class="about-card__item">Brandbook</li>
            <li class="about-card__item">Moodboard</li>
            <li class="about-card__item">Marketing</li>
            <li class="about-card__item">Logotype</li>
            <li class="about-card__item">Strategy</li>
          </ul>
          <div class="about__card_visual-circle-top"></div>
          <div class="about__card_visual-circle-bottom"></div>
        </li>
        <li class="about__card about-card">
          <div class="about-card__icon-container">
            <svg class="about-card__icon">
              <use href="./img/icons.svg#icon-concept"></use>
            </svg>
          </div>
          <h4 class="about-card__title">Concept</h4>
          <ul class="about-card__list">
            <li class="about-card__item">Dashboard</li>
            <li class="about-card__item">Landing</li>
            <li class="about-card__item">Other</li>
            <li class="about-card__item">Application</li>
            <li class="about-card__item">Presentation</li>
          </ul>
          <div class="about__card_visual-circle-top"></div>
          <div class="about__card_visual-circle-bottom"></div>
        </li>
      </ul>
    </div>
    <div class="about__decor-circle"></div>
  </section>
  <section class="work section" id="work">
    <div class="container">
      <h2 class="work__title">Our work</h2>
      <h3 class="work__subtitle">Selected projects</h3>
      <ul class="work__list">
        <li class="work__item work-item">
          <a href="#" rel="noopener noreferrer" class="work-item__link">
            <div class="thumb">
              <img
                width="290"
                height="244"
                srcset="
                  ./img/work/work1-mobile.jpg         300w,
                  ./img/work/work1-tablet.jpg         768w,
                  ./img/work/work1-small-desktop.jpg 1000w,
                  ./img/work/work1-desktop.jpg       1900w
                "
                sizes="(min-width: 1900px) 1900px, (min-width: 1000px) 1000px, (min-width: 768px) 768px, (min-width: 300px) 300px"
                src="./img/work/work1-mobile.jpg"
                alt="work1"
                class="work-item__img"
                loading="lazy"
              />
            </div>
            <div class="work-item__text-container">
              <h4 class="work-item__title">Bitmeet</h4>
              <p class="work-item__text">
                An immersive in-home experience during UK lockdown that uplifted
                a community.
              </p>
              <p class="work-item__subtext">UX/UI Design. Mobile App.</p>
            </div>
          </a>
        </li>
        <li class="work__item work-item">
          <a href="#" rel="noopener noreferrer" class="work-item__link">
            <div class="thumb">
              <img
                width="290"
                height="244"
                srcset="
                  ./img/work/work2-mobile.jpg         300w,
                  ./img/work/work2-tablet.jpg         768w,
                  ./img/work/work2-small-desktop.jpg 1000w,
                  ./img/work/work2-desktop.jpg       1900w
                "
                sizes="(min-width: 1900px) 1900px, (min-width: 1000px) 1000px, (min-width: 768px) 768px, (min-width: 300px) 300px"
                src="./img/work/work2-mobile.jpg"
                alt="work1"
                class="work-item__img"
                loading="lazy"
              />
            </div>
            <div class="work-item__text-container">
              <h4 class="work-item__title">WaiterAid</h4>
              <p class="work-item__text">
                An immersive in-home experience during UK lockdown that uplifted
                a community.
              </p>
              <p class="work-item__subtext">UX/UI Design. Mobile App.</p>
            </div>
          </a>
        </li>
        <li class="work__item work-item">
          <a href="#" rel="noopener noreferrer" class="work-item__link">
            <div class="thumb">
              <img
                width="290"
                height="244"
                srcset="
                  ./img/work/work3-mobile.jpg         300w,
                  ./img/work/work3-tablet.jpg         768w,
                  ./img/work/work3-small-desktop.jpg 1000w,
                  ./img/work/work3-desktop.jpg       1900w
                "
                sizes="(min-width: 1900px) 1900px, (min-width: 1000px) 1000px, (min-width: 768px) 768px, (min-width: 300px) 300px"
                src="./img/work/work3-mobile.jpg"
                alt="work1"
                class="work-item__img"
                loading="lazy"
              />
            </div>
            <div class="work-item__text-container">
              <h4 class="work-item__title">Preventa</h4>
              <p class="work-item__text">
                An immersive in-home experience during UK lockdown that uplifted
                a community.
              </p>
              <p class="work-item__subtext">UX/UI Design. Mobile App.</p>
            </div>
          </a>
        </li>
        <li class="work__item work-item">
          <a href="#" rel="noopener noreferrer" class="work-item__link">
            <div class="thumb">
              <img
                width="290"
                height="244"
                srcset="
                  ./img/work/work4-mobile.jpg         300w,
                  ./img/work/work4-tablet.jpg         768w,
                  ./img/work/work4-small-desktop.jpg 1000w,
                  ./img/work/work4-desktop.jpg       1900w
                "
                sizes="(min-width: 1900px) 1900px, (min-width: 1000px) 1000px, (min-width: 768px) 768px, (min-width: 300px) 300px"
                src="./img/work/work4-mobile.jpg"
                alt="work1"
                class="work-item__img"
                loading="lazy"
              />
            </div>
            <div class="work-item__text-container">
              <h4 class="work-item__title">Carsana</h4>
              <p class="work-item__text">
                An immersive in-home experience during UK lockdown that uplifted
                a community.
              </p>
              <p class="work-item__subtext">UX/UI Design. Mobile App.</p>
            </div>
          </a>
        </li>
        <li class="work__item work-item">
          <a href="#" rel="noopener noreferrer" class="work-item__link">
            <div class="thumb">
              <img
                width="290"
                height="244"
                srcset="
                  ./img/work/work5-mobile.jpg         300w,
                  ./img/work/work5-tablet.jpg         768w,
                  ./img/work/work5-small-desktop.jpg 1000w,
                  ./img/work/work5-desktop.jpg       1900w
                "
                sizes="(min-width: 1900px) 1900px, (min-width: 1000px) 1000px, (min-width: 768px) 768px, (min-width: 300px) 300px"
                src="./img/work/work5-mobile.jpg"
                alt="work1"
                class="work-item__img"
                loading="lazy"
              />
            </div>
            <div class="work-item__text-container">
              <h4 class="work-item__title">Easy Food</h4>
              <p class="work-item__text">
                An immersive in-home experience during UK lockdown that uplifted
                a community.
              </p>
              <p class="work-item__subtext">UX/UI Design. Mobile App.</p>
            </div>
          </a>
        </li>
      </ul>
      <button type="button" class="hero-btn work__btn">See all work</button>
    </div>
  </section>
  <section class="clients section" id="clients">
    <div class="decor-clients-circle-top"></div>
    <div class="container">
      <div class="clients__text-container">
        <div class="clients__text-container_titles">
          <h2 class="clients__title">Base Clients</h2>
          <h3 class="clients__subtitle">
            We select a personal
            <span class="clients__subtitle_accent">approach</span> to each
            client
          </h3>
        </div>
        <p class="clients__text">
          We specialize in creating visual identities for productsand brands.
          Whether it’s a birth or an evolution, we will put our industry
          expertise and passion for creativity to work for your project.
        </p>
      </div>
      <div class="clients__slider_logos">
        <div class="swiper clientsLogosSwiper">
          <div class="swiper-wrapper logos-wrapper">
            <div class="swiper-slide logos-slide">
              <a href="#" rel="noopener noreferrer">
                <svg class="logos-slide__icon">
                  <use href="./img/clients-icons.svg#icon-clients1"></use>
                </svg>
              </a>
            </div>
            <div class="swiper-slide logos-slide">
              <a href="#" rel="noopener noreferrer">
                <svg class="logos-slide__icon">
                  <use href="./img/clients-icons.svg#icon-clients7"></use>
                </svg>
              </a>
            </div>
            <div class="swiper-slide logos-slide">
              <a href="#" rel="noopener noreferrer">
                <svg class="logos-slide__icon">
                  <use href="./img/clients-icons.svg#icon-clients3"></use>
                </svg>
              </a>
            </div>
            <div class="swiper-slide logos-slide">
              <a href="#" rel="noopener noreferrer">
                <svg class="logos-slide__icon">
                  <use href="./img/clients-icons.svg#icon-clients4"></use>
                </svg>
              </a>
            </div>
            <div class="swiper-slide logos-slide">
              <a href="#" rel="noopener noreferrer">
                <svg class="logos-slide__icon">
                  <use href="./img/clients-icons.svg#icon-clients8"></use>
                </svg>
              </a>
            </div>
            <div class="swiper-slide logos-slide">
              <a href="#" rel="noopener noreferrer">
                <svg class="logos-slide__icon">
                  <use href="./img/clients-icons.svg#icon-clients9"></use>
                </svg>
              </a>
            </div>
            <div class="swiper-slide logos-slide">
              <a href="#" rel="noopener noreferrer">
                <svg class="logos-slide__icon">
                  <use href="./img/clients-icons.svg#icon-clients6"></use>
                </svg>
              </a>
            </div>
            <div class="swiper-slide logos-slide">
              <a href="#" rel="noopener noreferrer">
                <svg class="logos-slide__icon">
                  <use href="./img/clients-icons.svg#icon-clients10"></use>
                </svg>
              </a>
            </div>
            <div class="swiper-slide logos-slide">
              <a href="#" rel="noopener noreferrer">
                <svg class="logos-slide__icon">
                  <use href="./img/clients-icons.svg#icon-clients12"></use>
                </svg>
              </a>
            </div>
            <div class="swiper-slide logos-slide">
              <a href="#" rel="noopener noreferrer">
                <svg class="logos-slide__icon">
                  <use href="./img/clients-icons.svg#icon-clients11"></use>
                </svg>
              </a>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
      <div class="clients__slider_cards slider-cards">
        <div class="swiper clientsCardsSwiper">
          <div class="swiper-wrapper cards-wrapper">
            <div class="swiper-slide cards-slide">
              <div class="thumb">
                <img
                  width="290"
                  height="325"
                  srcset="
                    ./img/clients/client-photo.jpg          300w,
                    ./img/clients/client-photo-tablet.jpg   768w,
                    ./img/clients/client-photo-desktop.jpg 1000w,
                    ./img/clients/client-photo-desktop.jpg 1900w
                  "
                  sizes="(min-width: 1900px) 1900px, (min-width: 1000px) 1000px, (min-width: 768px) 768px, (min-width: 300px) 300px"
                  src="./img/clients/client-photo.jpg"
                  alt="client"
                  class="slider-cards__img"
                  loading="lazy"
                />
              </div>
              <div class="slider-cards__text-container">
                <div class="slider-cards__logo-container">
                  <svg class="slider-cards__logo-icon">
                    <use href="./img/clients-icons.svg#icon-clients121"></use>
                  </svg>
                </div>
                <p class="slider-cards__text">
                  It is a pleasure to see how a truly unique and usable design
                  is created under someone's hands. We have been cooperating
                  with Toglas Studio for years, and they always deliver great
                  and creative work. Despite the fact that wireframes and
                  assignments from me were sometimes terrible, they always came
                  up with a great design. I like designers who think about their
                  work.
                </p>
                <div class="slider-cards__line"></div>
                <div class="slider-cards__description">
                  <p class="slider-cards__description_name">Filip Podstavec</p>
                  <p class="slider-cards__description_position">
                    CEO at Marketing Miner
                  </p>
                </div>
              </div>
            </div>
            <div class="swiper-slide cards-slide">
              <div class="thumb">
                <img
                  width="290"
                  height="325"
                  srcset="
                    ./img/clients/client-photo.jpg          300w,
                    ./img/clients/client-photo-tablet.jpg   768w,
                    ./img/clients/client-photo-desktop.jpg 1000w,
                    ./img/clients/client-photo-desktop.jpg 1900w
                  "
                  sizes="(min-width: 1900px) 1900px, (min-width: 1000px) 1000px, (min-width: 768px) 768px, (min-width: 300px) 300px"
                  src="./img/clients/client-photo.jpg"
                  alt="client"
                  class="slider-cards__img"
                  loading="lazy"
                />
              </div>
              <div class="slider-cards__text-container">
                <div class="slider-cards__logo-container">
                  <svg class="slider-cards__logo-icon">
                    <use href="./img/clients-icons.svg#icon-clients11"></use>
                  </svg>
                </div>
                <p class="slider-cards__text">
                  It is a pleasure to see how a truly unique and usable design
                  is created under someone's hands. We have been cooperating
                  with Toglas Studio for years, and they always deliver great
                  and creative work. Despite the fact that wireframes and
                  assignments from me were sometimes terrible, they always came
                  up with a great design. I like designers who think about their
                  work.
                </p>
                <div class="slider-cards__line"></div>
                <div class="slider-cards__description">
                  <p class="slider-cards__description_name">Filip Podstavec</p>
                  <p class="slider-cards__description_position">
                    CEO at Marketing Miner
                  </p>
                </div>
              </div>
            </div>
            <div class="swiper-slide cards-slide">
              <div class="thumb">
                <img
                  width="290"
                  height="325"
                  srcset="
                    ./img/clients/client-photo.jpg          300w,
                    ./img/clients/client-photo-tablet.jpg   768w,
                    ./img/clients/client-photo-desktop.jpg 1000w,
                    ./img/clients/client-photo-desktop.jpg 1900w
                  "
                  sizes="(min-width: 1900px) 1900px, (min-width: 1000px) 1000px, (min-width: 768px) 768px, (min-width: 300px) 300px"
                  src="./img/clients/client-photo.jpg"
                  alt="client"
                  class="slider-cards__img"
                  loading="lazy"
                />
              </div>
              <div class="slider-cards__text-container">
                <div class="slider-cards__logo-container">
                  <svg class="slider-cards__logo-icon">
                    <use href="./img/clients-icons.svg#icon-clients1"></use>
                  </svg>
                </div>
                <p class="slider-cards__text">
                  It is a pleasure to see how a truly unique and usable design
                  is created under someone's hands. We have been cooperating
                  with Toglas Studio for years, and they always deliver great
                  and creative work. Despite the fact that wireframes and
                  assignments from me were sometimes terrible, they always came
                  up with a great design. I like designers who think about their
                  work.
                </p>
                <div class="slider-cards__line"></div>
                <div class="slider-cards__description">
                  <p class="slider-cards__description_name">Filip Podstavec</p>
                  <p class="slider-cards__description_position">
                    CEO at Marketing Miner
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="slider-cards__btns">
            <div class="slider-cards__btns-wrapper">
              <div class="swiper-button-prev slider-card__btn-prev">
                Previous review
              </div>
              <div class="swiper-pagination"></div>
              <div class="swiper-button-next slider-card__btn-next">
                Next review
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="hero-btn clients__btn">All Clients</button>
    </div>
    <div class="decor-clients-circle-bottom"></div>
    <div class="clients__decor-circle"></div>
  </section>
  <section class="contacts section" id="contacts">
    <div class="container">
      <p class="contacts__text">
        Have a project in mind? <span>Let’s get to work.</span>
      </p>
      <a href="#" rel="noopener noreferrer" class="contacts__link"
        >Start a project with us</a
      >
      <div class="contacts__line"></div>
    </div>
  </section>
</main>
