//===============================
//variables
//===============================
$brand-blue: #2d04e4;
$brand-light-blue: #6c57ce;
$brand-dark: #201747;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$error: #dc3545;
$gray-80: #464160;
$gray-60: #747088;
$gray-40: #a3a0af;
$gray-20: #d1cfd7;
$line-1: #eeeeee;
$primary: #ffffff;
$btn-primary: #6d79ff;
$btn-secondary-1: #d9d1c7;
$btn-secondary-2: #392c75;

$mobile: 320px;
$tablet: 768px;
$small-desktop: 1000px;
$desktop: 1900px;
